.menu{
    display: none;
}
.burger_checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #ffffff;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  bottom: 0;
  transition: bottom .3s .15s, transform .3s;
}
.burger_checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger_checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
}
.menu_list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: orange;
  list-style-type: none;
  transform: translateX(-100%);
  transition: .3s;
  width: 200px;
}
.menu_item {
  display: block;
  padding: 8px;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu_item:hover {
  background: rgba(255,255,255,.2)
}
.burger_checkbox:checked ~ .menu_list {
  transform: translateX(0);
}
.menu_item a{
    font-size: 20px;
    color: azure;
}
.menu_list{
    top: 120px;
    left: 0;
    position: absolute;    
    background: rgba(17, 10, 29, 1);
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 300px;
    z-index: 11;
    transform: translateX(-110%);
}
.menu_item{
    width: 300px;   
    border-radius: 28px;
    border: 2px solid rgba(71, 139, 249, 1);   
    margin-bottom: -9px;
    text-align: left;
}
.menu_item a{
    font-family: Lexend;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    list-style-type: none;    
}
@media screen and (max-width: 320px) {
    .menu{
        display: block;
    }
    .button_adapive{
        margin-top: 30px;
        width: 300px;
    }
    .button_adapive button{
        width: 100%;       
        padding: 8px 0 8px 0;
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 1);
    }
    .menu_list li:last-child{
        margin-top: 12px;
        background-color: rgba(71, 139, 249, 1);
    }
}